@use 'layout';

article.tweet-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  border: 5px solid layout.$color-dark;
  padding: 1.75rem;
  filter: blur(0.7px);
  max-width: 100%;
}

article.tweet-container:hover {
  box-shadow: 10px 10px 0 rgb(180, 180, 180);
  filter: blur(0);
}

/* reveal the hidden a-tag */
article.tweet-container:hover header a {
  display: flex;
}

article.tweet-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

article.tweet-container header .tweet-left-header {
  display: flex;
  align-items: center;
}

article.tweet-container header .tweet-left-header > * {
  margin-right: 1.3rem;
}

article.tweet-container header .tweet-left-header .tweet-username {
  font-weight: 300;
  font-size: 1.5rem;
}

article.tweet-container header .tweet-left-header img {
  width: 55px;
}

article.tweet-container header a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  display: none;
}

article.tweet-container .tweet-text {
  padding: 3.25rem 1.25rem;
  border-bottom: 5px solid layout.$color-dark;
  word-wrap: break-word;
}

article.tweet-container footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  font-size: 1.0rem;
}

article.tweet-container footer .tweet-right-footer > * {
  margin-left: 0.5rem;
  color: layout.$color-nav;
}


/* button for scrolling up quickly */
#scroll-btn {
  border: none;
  text-decoration: none;
  background: layout.$color-warning;
  border-radius: 50%;
  color: #fff;
  width: 90px;
  height: 90px;
  box-shadow: 3px 3px 6px rgb(150, 150, 150);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transform: scale(0.9);
  display: none;
}

#scroll-btn:focus {
  outline: none;
}

#scroll-btn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 8px rgb(71, 71, 71);
  transform: scale(1.0);
}