article.tweet-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  border: 5px solid #545149;
  padding: 1.75rem;
  filter: blur(0.7px);
}

article.tweet-container:hover {
  box-shadow: 10px 10px 0 rgb(180, 180, 180);
  filter: blur(0);
}

/* reveal the hidden a-tag */
article.tweet-container:hover header a {
  display: flex;
}

article.tweet-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

article.tweet-container header .tweet-left-header {
  display: flex;
  align-items: center;
}

article.tweet-container header .tweet-left-header > * {
  margin-right: 1.3rem;
}

article.tweet-container header .tweet-left-header .tweet-username {
  font-weight: 300;
  font-size: 1.5rem;
}

article.tweet-container header .tweet-left-header img {
  width: 55px;
}

article.tweet-container header a {
  text-decoration: none;
  color: rgb(180, 180, 180);
  display: none;
}

article.tweet-container .tweet-text {
  padding: 3.25rem 1.25rem;
  border-bottom: 5px solid #545149;
}

article.tweet-container footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  font-size: 1.0rem;
}

article.tweet-container footer .tweet-right-footer > * {
  margin-left: 0.5rem;
  color: #4056A1;
}